# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\my_python_code\pycharm_learning\helloflask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
